{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipe Manager</title>

    <link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}"/>

    <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">

    <!-- vuejs block -->
{#    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> <!-- Debug -->#}
{#    <script src="https://cdn.jsdelivr.net/npm/vue"></script> <!-- Production -->#}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

    <!-- vuetify block -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <!-- vuetify end -->


    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


    {% block css %}
    {% endblock %}

</head>
<body>

    <div id="base_recipe_manager">
        <v-app>

            <v-app-bar
            color="deep-orange darken-1"
            dark
            prominent
            height="50"
            >
                <v-app-bar-nav-icon @click.stop="drawer_data.flag = !drawer_data.flag"></v-app-bar-nav-icon>
                <v-toolbar-title class="headline">[[ app_header_title ]]</v-toolbar-title>
            </v-app-bar>

            <v-container class="fill-height">
                {% block content %}
                {% endblock %}
            </v-container>

            <v-navigation-drawer
            v-model="drawer_data.flag"
            absolute
            temporary
            >
                <v-list-item>
                    <v-list-item-avatar>
                        <v-img src="{% static "apps/main_manager/images/recipe_icon.jpg" %}"></v-img>
                    </v-list-item-avatar>

                    <v-list-item-content>
                        <v-list-item-title>Recipe Manager</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>

                <v-divider></v-divider>

                <v-list dense>
                    <v-list-item
                    v-for="item in drawer_data.items"
                    :key="item.title"
                    link
                    :href="item.target"
                    :disabled="item.disabled"
                    >
                    <v-list-item-icon>
                    <v-icon>[[ item.icon ]]</v-icon>
                    </v-list-item-icon>

                    <v-list-item-content>
                    <v-list-item-title>[[ item.title ]]</v-list-item-title>
                    </v-list-item-content>
                    </v-list-item>
                </v-list>
            </v-navigation-drawer>

            <v-snackbar
            v-model="snackbar_props.flag"
            :timeout="snackbar_props.timeout"
            :color="snackbar_props.color"
            >
                [[ snackbar_props.text ]]
                <v-btn
                :color="snackbar_props.close_btn_color"
                text
                @click="snackbar_props.flag = false"
                >
                Close
                </v-btn>
            </v-snackbar>
        </v-app>
    </div>

    <script>
        var shopping_list_url = "{% url 'shopping_list_url' %}";
        var load_data_url = "{% url 'load_data_url' %}";
        var upload_data_files_url = "{% url 'process_data_files_url' %}";
        var base_token = '{{ csrf_token }}';
    </script>

    <script src="{% static "apps/main_manager/js/main_script.js" %}"></script>

    {% block javascript %}
    {% endblock %}


</body>
</html>